#title{
    -webkit-transform: translate(280px, 50px);
}

#info{
    width: 800px;
    height: 400px;
    background-color:lightgray;
    -webkit-transform: translate(200px, 0px);
}
.counties {
    stroke: #fff;
    stroke-width: 1px;
}
.counties:hover {
    fill: #666;
}

path{
    stroke-width: thin;
    stroke:gray;
}
#tooltip{
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden{
    display: none;
}

#tooltip p{
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.yearText{
    font-family: serif;
    font-size: 20px;
}

#currentYear{
    font-family:fantasy;
    font-size: 35px;
}

.ticks {
  font: 10px sans-serif;
}

#yearSlider{
    -webkit-transform: translate(280px, 10px);
    height:80px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  float: left;
  border: solid 1px #aaa;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: default;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}